
@font-face {
    font-family: 'Montserrat-medium';
    src: url('Montserrat-Medium.eot'),
        url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat-Bold.eot'),
        url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    outline: none;
    font-family: "Montserrat-medium";
}

.site__content-examples {
    height: 980px;
    background: linear-gradient(rgba(60, 64, 77, 0.877), rgb(58, 32, 32));
    border-bottom: 6px solid rgb(148, 99, 99);

}
.portfolio {
    margin-top: 0;
}
.slider {
    margin-left: 0;
    width: 95vw;
    position: relative;
    padding-right: 20px;
    padding-left: 40px;
}
.prev,
.next {
  position: absolute;
  top: 105px;
  z-index: 2;
  cursor: pointer;
}

.prev {
 left: 0;
}

.next {
  right: 0;
}

h1 {
    font-family: "Montserrat-bold";
}

.small-title {
    font-family: "Montserrat-bold";
    font-size: 16px;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 17px;
}
.white-title {
    color: white;
}


.portfolio__h1 {
   padding-top: 50px;
   padding-bottom: 35px;
   margin-top: 0;
   font-size: 16px;

}

.excursion {
  position: relative;
}

 .excursion__registration {
   width: 80%;
    height: 290px;
    background: url("./img/form-back.png");
    background-color: white;
    position: absolute;
    top: 600px;
    left: 10%;
}


::-webkit-input-placeholder { 
     color: #575757;
     vertical-align: center;
}
::-moz-placeholder          { 
     color: #575757;
     vertical-align: center;
} 
:-moz-placeholder           { 
     color: #575757;
     vertical-align: center;
}
:-ms-input-placeholder      { 
     color: #575757;
     vertical-align: center;
     
}



.form__input-1 {
    margin-top: 15px;


}
.form__input {
    font-size: 10px;
    background-image: url("./img/input.png");
    background-color: #efefef;
    border: none;
    color: #353535;
    width: 85%;
    height: 32px;
    margin-bottom: 18px;
    margin-left: 5%;
    padding-left: 15px;
    cursor: pointer;
}

.form__consent {
    background: url('./img/background.png');
    padding-left: 45px;
    margin-top: 0px;
    font-size: 14px;
    color:#575757;
    background: url('../img/check1.png') no-repeat left 20px top 0, url('../img/check2.png') no-repeat left 25px top 4.5px;

}
.form__consent a{
    color: #142277;
    text-decoration: underline;
    font-size: 10px;
}

.form__button {
    font-family: 'Montserrat-bold';
    font-size: 10px;
    background-color: #e64839;
    border: none;
    border-radius: 40px;
    width: 90%;
    height: 62px;
    color: white;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 18px;
    
}

.option {
    text-align: center;
    color: #424141;
    font-size: 16px;
    width: 98%;
    margin-left: 1%;
    
}

.option__title {
    font-family: 'Montserrat-bold';
    font-size: 18px;
    color: #262626;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10%;
    margin-top: 30px;
}

.option__communication {

}
.option__communication-center {

    
}
.option__communication p {
    width: 80%;
    margin-left: 10%;
}

.excursion__h1 {
    font-size: 19px;
    text-align: center;
    padding-left: 3%;
    padding-bottom: 360px;
}

@media screen and (min-width: 500px) {

    .slider {
        width: 80%;
        margin-left: 10%;
        padding-right: 50px;
    padding-left: 50px;
    }

    .small-title {
        font-size: 25px;
    }
    .white-title {
        color: white;
    }
    
    
    .portfolio__h1 {
    padding-top: 73px;
    }
    
    .excursion__h1 {
        font-size: 30px;
    }
    .excursion__registration {
        top: 700px;
    }

 }

 @media screen and (min-width: 600px) {

   .site__content-examples {
       height: 1200px;
   }

    .slider {
        width: 98%;
        margin-left: 1%;
    }

    .small-title {
        font-size: 25px;
    }
    .white-title {
        color: white;
    }
    
    
    .portfolio__h1 {
    padding-top: 73px;
    }
    
    .excursion__h1 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .option__title {
        font-size: 30px;
    }
    
 .excursion__registration {
    width: 70%;
     height: 390px;
     background-color: white;
     position: absolute;
     top: 720px;
     left: 15%;
     
 
 }
 
 ::-webkit-input-placeholder { 
      color: #575757;
      vertical-align: center;
 }
 ::-moz-placeholder          { 
      color: #575757;
      vertical-align: center;
 } 
 :-moz-placeholder           { 
      color: #575757;
      vertical-align: center;
 }
 :-ms-input-placeholder      { 
      color: #575757;
      vertical-align: center;
      
 }
 
 
 
 .form__input-1 {
     margin-top: 35px;
 
 
 }

 .form__input {
     font-size: 14px;
     background-image: url("./img/input.png");
     background-color: #efefef;
     border: none;
     color: #353535;
     width: 84%;
     height: 52px;
     margin-bottom: 20px;
     margin-left: 6.5%;
     padding-left: 15px;
 }
 
 .form__consent {
     background: url('./img/background.png');
     padding-left: 55px;
     margin-top: 10px;
     color:#575757;
     background: url('../img/check1.png') no-repeat left 30px top 2px, url('../img/check2.png') no-repeat left 35px top 7px;
 
 }
 .form__consent a{
     color: #142277;
     text-decoration: underline;
     font-size: 14px;
 }
 
 .form__button {
     font-family: 'Montserrat-bold';
     font-size: 14px;
     background-color: #e64839;
     border: none;
     border-radius: 40px;
     width: 90%;
     height: 62px;
     color: white;
     text-decoration: underline;
     margin-top: 20px;
     margin-left: 28px;
     
 }
 
 .option {
     margin-top: 15%;
     margin-bottom: 10px;
 }
 
 .option__title {
     margin-left: 15%;
 }
 .option__communication p {
    width: 60%;
    margin-left: 20%;
} 

 }

 @media screen and (min-width: 700px) {
    .site__content-examples {
        background: url("../img/background.png");
        height: 1150px;
        border-bottom: none;
    }
    .slider {
        width: 98%;
        margin-left: 1%;
        padding-right: 30px;
        padding-left: 30px;
    }

    .small-title {
        font-size: 30px;
    }
    .white-title {
        color: white;
    }
    
    
    .portfolio__h1 {
    padding-top: 73px;
    }
    
    .excursion__h1 {
        font-size: 36px;
    }
    
    .excursion__registration {
        width: 70%;
         height: 390px;
         background: url("./img/form-back.png");
         background-color: white;
         position: absolute;
         top: 790px;
         left: 15%;
         
     
     }
     
     ::-webkit-input-placeholder { 
          color: #575757;
          vertical-align: center;
     }
     ::-moz-placeholder          { 
          color: #575757;
          vertical-align: center;
     } 
     :-moz-placeholder           { 
          color: #575757;
          vertical-align: center;
     }
     :-ms-input-placeholder      { 
          color: #575757;
          vertical-align: center;
          
     }
     
     
     
     .form__input-1 {
         margin-top: 35px;
     
     
     }
     .form__input {
         font-size: 14px;
         background-image: url("./img/input.png");
         background-color: #efefef;
         border: none;
         color: #353535;
         width: 84%;
         height: 52px;
         margin-bottom: 20px;
         margin-left: 6.5%;
         padding-left: 15px;
     }
     
     .form__consent {
         background: url('./img/background.png');
         padding-left: 65px;
         margin-top: 10px;
         color:#575757;
         background: url('../img/check1.png') no-repeat left 40px top 2px, url('../img/check2.png') no-repeat left 45px top 7px;
     
     }
     .form__consent a{
         color: #142277;
         text-decoration: underline;
         font-size: 14px;
     }
     
     .form__button {
         font-family: 'Montserrat-bold';
         font-size: 17px;
         background-color: #e64839;
         border: none;
         border-radius: 40px;
         width: 90%;
         height: 62px;
         color: white;
         text-decoration: underline;
         margin-top: 20px;
         margin-left: 28px;
         
     }
     .option__title {
         margin-top: 20px;
         left: 0;
     }
     
 
 }

 @media screen and (min-width: 800px) {

.slider {
    width: 98%;
    margin-left: 1%;
}

 }

@media screen and (min-width: 1000px) {
        
    .site__content-examples {
        background: url("../img/background.png");
        height: 100%;
     }
     .slider {
         width: 100%;
         margin-left: 0%;
         padding-right: 30px;
     padding-left: 30px;
     }
 
     .small-title {
         font-size: 30px;
     }
     .white-title {
         color: white;
     }
     
     
     .portfolio__h1 {
     padding-top: 73px;
     }
         
     .excursion {
         position: relative;
         height: 560px;
         }
  
  
        .excursion__registration {
          width: 490px;
           height: 490px;
           background: url("./img/form-back.png");
           background-color: white;
           position: absolute;
           top: 540px;
           left: 50%;
           
       
       }
       
       ::-webkit-input-placeholder { 
            color: #575757;
            vertical-align: center;
       }
       ::-moz-placeholder          { 
            color: #575757;
            vertical-align: center;
       } 
       :-moz-placeholder           { 
            color: #575757;
            vertical-align: center;
       }
       :-ms-input-placeholder      { 
            color: #575757;
            vertical-align: center;
            
       }
       
       
       
       .form__input-1 {
           margin-top: 40px;
       
       
       }
       .form__input {
           font-size: 16px;
           background-image: url("./img/input.png");
           background-color: #efefef;
           border: none;
           color: #353535;
           width: 390px;
           height: 62px;
           margin-bottom: 25px;
           margin-left: 40px;
           padding-left: 25px;
       }
       
       .form__consent {
           background: url('./img/background.png');
           padding-left: 65px;
           margin-top: 10px;
           font-size: 14px;
           color:#575757;
           background: url('../img/check1.png') no-repeat left 40px top 2px, url('../img/check2.png') no-repeat left 45px top 7px;
       
       }
       .form__consent a{
           color: #142277;
           text-decoration: underline;
       
       }
       
       .form__button {
           font-family: 'Montserrat-bold';
           background-color: #e64839;
           border: none;
           border-radius: 40px;
           width: 85%;
           height: 82px;
           color: white;
           text-decoration: underline;
           margin-top: 36px;
           margin-left: 41px;
           
       }
  .excursion__h1 {
     position: absolute;
     text-align: right;
     left: 4%;
  }

  .option {
    width: auto;
     height: 459px;
     position: relative;
     margin-top: 0;
     margin-left: 0;
 } 
 .option__title {
    text-align: left;
    margin-left: 25%
}

 .option__communication {
     position: absolute;
     width: 373px;
     
 }
 .option__communication p {
     position: absolute;
     width: 295px;
     left: 10%;
     margin-top: 30px;
     margin-left: 0;
 }



 .option__communication-left {
     left: 0px;
 }


 .option__communication-center {
    left: 380px; 
 }
 
 .option__communication-right {
     left: 760px;
}





    
 }
      

@media screen and (min-width: 1200px) {
    .site__content-examples {
        background: url("../img/background.png");
        height: 100%;
    }
    .slider {
        width: 1250px;
        margin-left: 1%;
        padding-right: 10px;
    padding-left: 35px;
    }

    .small-title {
        font-size: 30px;
    }
    .white-title {
        color: white;
    }
    
    
    .portfolio__h1 {
    padding-top: 73px;
    }
    
    .excursion {
      position: relative;
      height: 560px;
      }


      .excursion__registration {
        width: 580px;
         height: 490px;
         background: url("./img/form-back.png");
         background-color: white;
         position: absolute;
         top: 540px;
         left: 640px;
         
     
     }
     
     ::-webkit-input-placeholder { 
          color: #575757;
          vertical-align: center;
     }
     ::-moz-placeholder          { 
          color: #575757;
          vertical-align: center;
     } 
     :-moz-placeholder           { 
          color: #575757;
          vertical-align: center;
     }
     :-ms-input-placeholder      { 
          color: #575757;
          vertical-align: center;
          
     }
     
     
     
     .form__input-1 {
         margin-top: 40px;
     
     
     }
     .form__input {
         font-size: 16px;
         background-image: url("./img/input.png");
         background-color: #efefef;
         border: none;
         color: #353535;
         width: 490px;
         height: 62px;
         margin-bottom: 25px;
         margin-left: 5%;
         padding-left: 25px;
     }
     
     .form__consent {
         background: url('./img/background.png');
         padding-left: 65px;
         margin-top: 10px;
         color:#575757;
         background: url('../img/check1.png') no-repeat left 40px top 2px, url('../img/check2.png') no-repeat left 45px top 7px;
     
     }
     .form__consent a{
         color: #142277;
         text-decoration: underline;
     
     }
     
     .form__button {
         font-family: 'Montserrat-bold';
         background-color: #e64839;
         border: none;
         border-radius: 40px;
         width: 490px;
         height: 82px;
         color: white;
         text-decoration: underline;
         margin-top: 36px;
         margin-left: 41px;
         
     }

    .excursion__h1 {
    font-size: 36px;
    text-align: right;
    padding-left: 3%;
    position: absolute;
    left: 80px;
    top: 56px;
    width: 420px;
    }
    .option {
        margin-left: 50px;
    }
    .option__communication-center {
        left: 400px;
    }

    .option__communication-right {
        left: 800px;
    }
}
@media screen and (min-width: 1400px) {
    .site__content-examples {
        background: url("../img/background.png");
        height: 100%;
    }
    .slider {
        width: 1240px;
        margin-left: 7.5%;
        margin-left: 9.5%;
        padding-right: 40px;
    padding-left: 50px;
    }

    .small-title {
        font-size: 30px;
    }
    .white-title {
        color: white;
    }
    
    
    .portfolio__h1 {
    padding-top: 71px;
    }
    

    .excursion {
        position: relative;
      height: 560px;
      }
     
    
 .excursion__registration {
    width: 580px;
     height: 490px;
     background: url("./img/form-back.png");
     background-color: white;
     position: absolute;
     top: 540px;
     left: 755px;
     
 
 }
 
 ::-webkit-input-placeholder { 
      color: #575757;
      vertical-align: center;
 }
 ::-moz-placeholder          { 
      color: #575757;
      vertical-align: center;
 } 
 :-moz-placeholder           { 
      color: #575757;
      vertical-align: center;
 }
 :-ms-input-placeholder      { 
      color: #575757;
      vertical-align: center;
      
 }
 
 
 
 .form__input-1 {
     margin-top: 40px;
 
 
 }
 .form__input {
     font-size: 16px;
     background-image: url("./img/input.png");
     background-color: #efefef;
     border: none;
     color: #353535;
     width: 490px;
     height: 62px;
     margin-bottom: 25px;
     margin-left: 6%;
     padding-left: 25px;
 }
 
 .form__consent {
     background: url('./img/background.png');
     padding-left: 65px;
     font-size: 14px;
     margin-top: 10px;
     color:#575757;
     background: url('../img/check1.png') no-repeat left 40px top 2px, url('../img/check2.png') no-repeat left 45px top 7px;
 
 }
 .form__consent a{
     color: #142277;
     text-decoration: underline;
 
 }
 
 .form__button {
     font-family: 'Montserrat-bold';
     background-color: #e64839;
     border: none;
     border-radius: 40px;
     width: 490px;
     height: 82px;
     color: white;
     text-decoration: underline;
     margin-top: 36px;
     margin-left: 41px;
     
 }
 
    .excursion__h1 {
        font-size: 36px;
        text-align: right;
        padding-left: 3%;
        position: absolute;
        left: 190px;
        top: 56px;
        width: 420px;
    }
    .option {
        margin-left: 165px;
    }

 }
@media screen and (min-width: 1800px) {
    .site__content-examples {
        background: url("../img/background.png");
        height: 100%;
    }
    .slider {
        width: 1240px;
        margin-left: 18%;
        padding-right: 40px;
    padding-left: 50px;
    }

    .small-title {
        font-size: 30px;
    }
    .white-title {
        color: white;
    }
    
    
    .portfolio__h1 {
    padding-top: 71px;
    }
    
    .excursion {
      position: relative;
      height: 560px;
      }

     
 .excursion__registration {
    width: 580px;
     height: 490px;
     background: url("./img/form-back.png");
     background-color: white;
     position: absolute;
     top: 540px;
     left: 956px;
     
 
 }
 
 
 ::-webkit-input-placeholder { 
      color: #575757;
      vertical-align: center;
 }
 ::-moz-placeholder          { 
      color: #575757;
      vertical-align: center;
 } 
 :-moz-placeholder           { 
      color: #575757;
      vertical-align: center;
 }
 :-ms-input-placeholder      { 
      color: #575757;
      vertical-align: center;
      
 }
 
 
 
 .form__input-1 {
     margin-top: 40px;
 
 
 }
 .form__input {
     font-size: 16px;
     background-image: url("./img/input.png");
     background-color: #efefef;
     border: none;
     color: #353535;
     width: 475px;
     height: 62px;
     margin-bottom: 25px;
     margin-left: 40px;
     margin-right: 40px;
     padding-left: 25px;
 }
 
 .form__consent {
     background: url('./img/background.png');
     padding-left: 65px;
     margin-top: 10px;
     color:#575757;
     background: url('../img/check1.png') no-repeat left 40px top 2px, url('../img/check2.png') no-repeat left 45px top 7px;
 
 }
 .form__consent a{
     color: #142277;
     text-decoration: underline;
 
 }
 
 .form__button {
     font-family: 'Montserrat-bold';
     background-color: #e64839;
     border: none;
     border-radius: 40px;
     width: 490px;
     height: 82px;
     color: white;
     text-decoration: underline;
     margin-top: 36px;
     margin-left: 41px;
     
 }
 
    .excursion__h1 {
        font-size: 36px;
        text-align: right;
        padding-left: 3%;
        position: absolute;
        left: 378px;
        top: 56px;
        width: 420px;    
    }
    
    .option {
        margin-left: 373px;
    }
    
}